.RJ-discoverContainer{
    display: flex;
    justify-content: center;
    gap: 30px;
}
@media screen and (max-width: 1440px){
    .RJ-discoverContainer{
        gap: 20px;
    }


}
@media screen and (max-width: 992px){
    .RJ-discoverContainer{
        flex-direction: column;
        gap: 20px;
    }
    

}