.MF-serviceCard {
  padding: 20px;
  background-color: #1a1a1a;
  border-radius: 10px;
}

.MF-arrowTop {
  display: block;
  margin-left: auto;
}

.MF-serviceCard {
  p {
    text-align: center;
    margin-top: 20px;
  }
}

.MF-serviceLogo {
  display: block;
  margin: auto;
}

.MF-socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
  margin-top: 20px;
  a {
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
  }
}

@media screen and (max-width: 1440px) {
  .MF-serviceCard {
    p {
      margin-top: 16px;
    }
  }
  .MF-serviceLogo {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 992px) {
  .MF-serviceCard {
    p {
      margin-top: 14px;
    }
  }

  .MF-socialLink {
    gap: 8px;
  }

  .MF-serviceLogo {
    width: 48px;
    height: 48px;
  }
}
