.RJ-outContainer {
  max-width: 500px;
  padding: 50px;
  border: 1px solid #262626;
  border-radius: 12px;
  box-shadow: 0px 0px 0px 8px #191919;
}

.RJ-outContainer .RJ-outDis {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #999999;
  margin-top: 30px;
}
.RJ-outContainer .RJ-outTitle {
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
}
@media screen and (max-width: 1440px) {
  .RJ-outContainer {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 6px #191919;
  }
  .RJ-outContainer .RJ-outTitle {
    font-size: 24px;
  }
  .RJ-outContainer .RJ-outDis {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  .RJ-outContainer {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 4px #191919;
  }
  .RJ-outContainer .RJ-outTitle {
    font-size: 20px;
  }
  .RJ-outContainer .RJ-outDis {
    font-size: 14px;
  }
}
