.AM-cardSe {
  max-width: 512px;
  padding: 50px;
  border: 1px solid #262626;
  border-radius: 12px;
  .AM-informationsSe {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 1440px) {
  .AM-cardSe {
    max-width: 413px;
    padding: 40px;
    .AM-informationsSe {
      gap: 16px;
      padding-bottom: 20px;
      img {
        width: 60px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .AM-cardSe {
    max-width: 357px;
    padding: 24px;
    .AM-informationsSe {
      gap: 10px;
      padding-bottom: 16px;
      img {
        width: 48px;
      }
    }
  }
}
