.formBulding {
  width: 60%;
  margin: auto;
  label {
    color: #ffffff;
  }
  input {
    width: 30%;
    display: block;
    margin: 5px 0;
  }
  input[type="submit"] {
    background-color: #703bf7;
  }
}
