*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.RJ_FooterCard{
 /*   width: 100%;*/
}

.RJ_ItemsFooter{

    margin-top: 30px;
   
    a{
        text-decoration: none;
        line-height: 24px;
        font-size: 18px;
        font-weight: 500;
        color: #FFFFFF;
    }
}
.RJ_TitleFooter{
    a{
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        color: #999999;
       
         
    }
}
@media screen and (max-width: 1440px) {

    .RJ_ItemsFooter{
        margin-top: 24px;
        a{
           
            font-size: 16px;
        }
    }

    .RJ_TitleFooter{
        a{
            font-size: 18px;
        }
    }

}
