.MS-connectContainer {
  background-color: #141414;
}

/* medium screen */
@media screen and (max-width: 1440px) {
  .MS-connectContainer {
  }
}

/* small screen */
@media screen and (max-width: 992px) {
  .MS-connectContainer {
    .MS-formPlace {
      display: flex;
      justify-content: center;
      max-width: 500px;
      margin: 0 auto;
    }
  }
}
