.mf-title-width {
  max-width: 758px;
  img {
    position: relative;
    right: 2%;
  }
  h1 {
    padding-bottom: 20px;
  }

  p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1440px) {
  .mf-title-width {
    max-width: 610px;
    img {
      width: 54.72px;
    }
    h1 {
      padding-bottom: 20px;
      font-size: 46px;
    }

    p {
      padding-bottom: 50px;
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 992px) {
  .mf-title-width {
    img {
      width: 45.6px;
    }
    h1 {
      padding-bottom: 20px;
      font-size: 28px;
    }

    p {
      padding-bottom: 50px;
      font-size: 14px;
    }
  }
}
