.MF-home {
  background-color: #141414;
}
.AM-FeaturedHo {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
@media screen and (max-width: 1440px) {
  .AM-FeaturedHo {
    gap: 60px;
  }
}
@media screen and (max-width: 992px) {
  .AM-FeaturedHo {
    gap: 40px;
  }
}
