
.MS-select{
    display: flex;
    flex-direction: column;
    width: 30vw;
    max-width: 432.3333px;
    select{
        margin-top: 16px;
        padding: 24px 20px;
        background-color: #1A1A1A;
        border: 1px solid #262626;
        border-radius: 8px;
        color: #666666;
    }
}
                                            /* medium screen */
@media screen and (max-width: 1440px) {
    .MS-select{
        width: 21vw;
        max-width: 353.3333px;
        select{
            margin-top: 14px;
            padding: 16px 20px;
        }
    }
}

                                            /* small screen */
@media screen and (max-width: 992px) {
    .MS-select{
        width: 90vw;
        max-width: 317px;
        select{
            margin-top: 10px;
        }
    }
}
