.MF-propertyPage {
  padding-top: 99px;
  background-color: #141414;
}
.MS-contentProperty {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.MS-contentProperty:nth-child(1) {
  height: max-content;
}

.MF-gapProperty {
  display: flex;
  flex-direction: column;
  gap: 150px;
}
@media screen and (max-width: 1440px) {
  .MF-gapProperty {
    gap: 110px;
  }
  .MF-contentProperty {
    gap: 20px;
  }
}
@media screen and (max-width: 992px) {
  .MF-propertyPage {
    padding-top: 68px;
  }
  .MS-contentProperty {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .MF-gapProperty {
      gap: 75px;
    }
  }
}
