.MF-heroProperty {
  padding-top: 150px;
  margin-bottom: 30px;
}
.MF-propertyFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .MF-propertyFlex {
    gap: 20px;
  }
}
.MF-location {
  gap: 6px !important;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #262626;
}

.MF-heroProperty {
  .MF-heroImgProperty {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 50px;
    background-color: #1a1a1a;
    margin: auto;

    margin-top: 50px;
    overflow: hidden;

    position: relative;
    width: 100%;
    aspect-ratio: 16 / 6;

    img {
      position: absolute;
      width: 94%;
      height: 88%;
      object-fit: cover;
      border-radius: inherit;
    }
  }
}

@media screen and (max-width: 1440px) {
  .MF-heroProperty {
    padding-top: 110px;

    .MF-heroImgProperty {
      padding: 40px;
      margin-top: 40px;
    }
  }
  .MF-heroProperty {
    padding-top: 110px;
  }
  @media screen and (max-width: 992px) {
    .MF-heroProperty {
      padding-top: 75px;

      .MF-heroImgProperty {
        padding: 20px;
      }
    }
    .MF-location {
      padding: 8px;
    }
    .MF-propertyFlex.second {
      display: block;
    }
  }
}
