
.nav_Bar {
  height: 99px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  ul a {
    color: #ffffff;
    text-decoration: none;
  }
}

.items_Nav {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
  /* padding-top: 16px; */
  /* padding-bottom: 16px; */
  color: #ffffff;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  font-weight: 500;
}
.link.active {
  padding: 12px 20px;
  background-color: #141414;
  border-radius: 8px;
  border: 1px solid #262626;
}

.space {
  padding: 25.5px 162px;
}

.logo_Nav {
  width: 160px;
}

.bars {
  display: none;
}

.navMenu {
  background-color: #141414;
  display: none;
}

.navMenu.show {
  display: block;
}

.btn_Nav {
  max-width: 109px;
  color: #ffffff;
  background-color: black;
  border: 1px solid #141414;
  border-radius: 8px;
  padding: 14px 20px;
  font-size: 14px medium;
  line-height: 150%;
  letter-spacing: 0%;
  font-weight: 500;
  a {
    color: #ffffff;
    text-decoration: none;
  }
}
@media screen and (max-width: 992px) {
  nav {
    .items_Nav,
    .btn_Nav {
      display: none;
    }
  }

  .bars {
    font-size: 28px;
    display: block;
    min-width: 28px;
    color: #ffffff;
    background-color: unset;
    border: unset;
    ul a{
      text-decoration: none;
      color: #ffffff;
    }
    
  }

  .space {
    padding: 20px 16px;
  }
}
