.RJ_Footer {
    background-color: #141414;
  }
  .RJ_WhiteSpacing {
    padding-left: 162px;
    padding-right: 162px;
  }
  .RJ_LogoFooter {
    max-width: 160px;
  }
  .RJ_SubFooter {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    gap: 5.5vw;
  }
  
  .RJ_CardsFooter {
    width: 60%;
    display: flex;
    justify-content: space-between;
    gap: 7%;
  }
  .RJ_FinalFooter {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    height: fit-content;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .RJ_DisFooter {
    display: flex;
    gap: 38px;
    color: #ffffff;
  }
  .RJ_MediaFooter {
    display: flex;
    gap: 10px;
  }
  
  .RJ_InputContainer {
    width: 28.02%;
  }
  .RJ_InputFooter {
  
    margin-top: 30px;
    display: flex;
    align-items: center;
    border: 1px solid #1a1a1a;
    border-radius: 12px;
    padding: 21px 24px;
  }
  
  .RJ_IconVector {
    width: 24px;
  }
  .RJ_FormInput {
    margin-left: 10px;
    background-color: unset;
    border: unset;
  }
  .RJ_FormInput:focus {
    outline: unset;
  }
  .RJ_IconSend {
  
    width: 30px;
    display: block;
    margin-left: auto;
  }
  .RJ_MediaFooter {
    img {
      width: 52px;
      height: 52px;
    }
  }
  @media screen and (max-width: 1440px) {
    .RJ_WhiteSpacing {
      padding-left: 80px;
      padding-right: 80px;
    }
    .RJ_LogoFooter {
      max-width: 113.33px;
    }
    .RJ_SubFooter {
      padding-top: 80px;
      padding-bottom: 80px;
  
    }
  
    .RJ_FormInput {
      height: 52px;
      font-size: 14px;
    }
    .RJ_MediaFooter {
      gap: 8px;
    }
    .RJ_MediaFooter {
      img {
        width: 40px;
        height: 40px;
      }
    }
  
    .RJ_InputFooter {
      border-radius: 8px;
      padding: 14px;
    }
    .RJ_IconVector {
      width: 20px;
    }
    .RJ_IconSend {
      width: 24px;
    }
  }
  
  @media screen and (max-width: 992px) {
    .RJ_CardsFooter {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      position: relative;
    }
  
    .RJ_CardsFooter > :nth-child(4) {
      grid-row: span 2;
    }
    .RJ_CardsFooter > :nth-child(1),
    .RJ_CardsFooter > :nth-child(3),
    .RJ_CardsFooter > :nth-child(5) {
      margin-right: 20px;
    }
    .RJ_CardsFooter > :nth-child(2),
    .RJ_CardsFooter > :nth-child(4) {
      margin-left: 20px;
    }
  
    .RJ_CardsFooter > :nth-child(4)::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 58%;
      left: 50%;
      width: 1px;
      background-color: #262626;
      transform: translateX(-50%);
    }
  
    .RJ_CardsFooter > :nth-child(5)::before {
      content: "";
      position: absolute;
      top: 45%;
      bottom: 2%;
      left: 50%;
      width: 1px;
      background-color: #262626;
      transform: translateX(-50%);
    }
  
    .RJ_InputContainer {
      width: 100%;
    }
  
    .RJ_SubFooter {
      padding-top: 50px;
      padding-bottom: 50px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .RJ_CardsFooter {
      flex-wrap: wrap;
    }
  
    .RJ_FinalFooter {
      padding: 20px 16px;
      flex-direction: column-reverse;
      gap: 20px;
      .RJ_DisFooter {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
    }
  }
  