.amInformations {
  background: url("/assets/imgs/Abstract-Design2.png"),
    url("/assets/imgs/Abstract-Design1.png"), #141414;
  background-repeat: no-repeat;
  background-position: left center, right center;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
  .amInfoCard {
    max-width: 1154px;
  }
}

/* medium screen */
@media screen and (max-width: 1440px) {
  .amInformations {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 992px) {
  .amInformations {
    background-position: top left, bottom right;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    gap: 30px;
    align-items: unset;
    .mf-btn-purble-p54 {
      min-width: 268px;
    }
  }
}
