* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #141414;
}

/* general classes */

/* font size */

.msFontSize20 {
  font-size: 20px;
}
.msFontSize24 {
  font-size: 24px;
}
.msFontSize40 {
  font-size: 40px;
}
.msFontSize48 {
  font-size: 48px;
}
.msFontSize60 {
  font-size: 60px;
}

/*  font weight */
.msFontWeight500 {
  font-weight: 500;
}
.msFontWeight600 {
  font-weight: 600;
}
.msFontWeight700 {
  font-weight: 700;
}

/*  line height */
.msLineHeight120 {
  line-height: 120%;
}
.msLineHeight150 {
  line-height: 150%;
}

/* colors */

.msWhiteColor {
  color: #ffffff;
}
.msGrayColor {
  color: #999999;
}
.msPurpleColor {
  color: #703bf7;
}

/* white_spacing */
.white-spacing {
  padding: 0 162px;
}

/* medium screen */
@media screen and (max-width: 1440px) {
  .white-spacing {
    padding: 0 80px;
  }
}

/* small screen */
@media screen and (max-width: 992px) {
  .white-spacing {
    padding: 0 16px;
  }
}
