* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #141414;  */
  font-family: "Urbanist", sans-serif;
}

/* general classes */
/* font size*/
.msFontSize20 {
  font-size: 20px;
}
.msFontSize24 {
  font-size: 24px;
}
.msFontSize30 {
  font-size: 30px;
}
.msFontSize40 {
  font-size: 40px;
}
.msFontSize48 {
  font-size: 48px;
}
.msFontSize60 {
  font-size: 60px;
}

/*  font weight */
.msFontWeight500 {
  font-weight: 500;
}
.msFontWeight600 {
  font-weight: 600;
}
.msFontWeight700 {
  font-weight: 700;
}

/*  line height */
.msLineHeight120 {
  line-height: 120%;
}
.msLineHeight150 {
  line-height: 150%;
}

/* colors */
.mswhiteColor {
  color: #ffffff;
}
.msGrayColor {
  color: #999999;
}
.msPurpleColor {
  color: #703bf7;
}
.msBgGrey10 {
  background-color: #1a1a1a;
}

/* white_spacing */
.white-spacing {
  padding: 0 162px;
}

/* medium screen */
@media screen and (max-width: 1440px) {
  .white-spacing {
    padding: 0 80px;
  }
  /* font size */
  .msFontSize18 {
    font-size: 16px; /* 18 => 16 */
  }
  .msFontSize24 {
    font-size: 20px; /* 24 => 20 */
  }
  .msFontSize40 {
    font-size: 30px; /* 40 => 30 */
  }
}

/* small screen */
@media screen and (max-width: 992px) {
  .white-spacing {
    padding: 0 16px;
  }
  /* font size */
  .msFontSize18 {
    font-size: 14px; /* 18 => 16 => 14 */
  }
  .msFontSize24 {
    font-size: 18px; /* 24 => 20 => 18 */
  }
  .msFontSize40 {
    font-size: 24px; /* 40 => 30 => 24 */
  }
}
