.AM-investmentSe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  .AM-informationSe {
    display: flex;
    flex-direction: column;
    gap: 50px;
    .AM-branchTitleSe {
      .AM-infoSe {
        flex-direction: column;
        .mf-btn-black {
          max-width: 419px;
        }
      }
    }
  }
  .AM-AllCardsSe {
    background-color: #191919;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
    border-radius: 12px;
    .AM-cardSe {
      margin: 5px;

      background-color: #141414;
    }
  }
}
@media screen and (max-width: 1440px) {
  .AM-investmentSe {
    gap: 50px;
    .AM-informationSe {
      gap: 40px;
    }
    .AM-informationSe {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }
}

@media screen and (max-width: 992px) {
  .AM-investmentSe {
    flex-direction: column;
    gap: 40px;

    .AM-informationSe {
      gap: 30px;

      .AM-branchTitle2Se {
        max-width: 500px;
        margin: 0 auto;
      }
    }
    .AM-AllCardsSe {
      grid-template-columns: 1fr;
      background-color: unset;
      gap: 20px;
      max-width: unset;
      .AM-cardSe {
        height: unset;
      }
    }
  }
}
