.sectionSpace {
  margin-top: 150px;
}

.AM-about {
  background-color: #141414;
  .AM-heroAb {
    padding-top: 100px;
  }
}
@media screen and (max-width: 1440px) {
  .sectionSpace {
    margin-top: 120px;
  }

  .AM-about {
    .AM-heroAb {
      padding-top: 70px;
    }
  }
}

@media screen and (max-width: 992px) {
  .sectionSpace {
    margin-top: 60px;
  }
  .AM-about {
    .AM-heroAb {
      padding-top: 50px;
    }
  }
}
