.AM-about {
  background-color: #141414;
  .AM-heroAb {
    padding-top: 100px;
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 1440px) {
  .AM-about {
    .AM-heroAb {
      padding-top: 70px;
      padding-bottom: 120px;
    }
  }
}

@media screen and (max-width: 992px) {
  .AM-about {
    .AM-heroAb {
      padding-top: 50px;
      padding-bottom: 61px;
    }
  }
}
